{% extends "0_Base.html" %}

{% block content %}

<div class="row">
				 <div class="boton col-md-12">
				 <div class="title col-md-12 text-center">
						
						<h1><font face="Segoe UI" class="glyphicon glyphicon-user" size="6"> {{username}}</font></h1>
						
						</div>
      					  				
					
						 
						
							
							
						  
      					  <br>
						  <br>
						  <a href="/logout" class="btn btn-primary">Cerrar Sesion</a>
      					  <br>
						  
           			 		
		
		
		
      					  					
					
      					  
           			 </div>
					 
           			</div>
					
      
      


  



  
<p align="left">{% endblock %}</p>
