{% extends "0_Base.html" %}

{% block content %}

 			 

			 
			
			<div class="row">
				 <div class="boton col-md-12">
				 <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">FORMULARIOS DIGITALES</font></h1>
						<br>
						<h1><font face="Segoe UI" size="4">DM contará con una nueva plataforma de formularios web, donde podremos registrar los datos de manera online.</font></h4>
						<h1><font face="Segoe UI" size="4">Permitiendo optimizar la gestión y administración de la información.</font></h4>
						</div>
      					  				
						

      					  <br>
           			 		
		
		
		
      					  					
					
      					  
           			 </div>
           			</div>
           			 
      
      


  
<p align="left">{% endblock %}</p>
