{% extends "0_Base.html" %}

{% block content %}

 			 
 			 
			<div class="row">
				 <div class="boton col-md-12">
				 <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">MANTENIMIENTO E INFRAESTRUCTURA</font></h1>
						</div>
      					  
      					  	<br>
						  <a href="/OperacionesEdilicias" class="btn btn-primary">Solicitud Edilicia</a>
      					  <br>	
						
						  <br>
						  
						  
						  
						
						
					
      					  					
					
      					  
           			 </div>
           			</div>
					<div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">REPORTES</font></h1>
						<a href="/OperacionesEdiliciasReportes" class="btn btn-primary" align='right'>Solicitudes Edilicias</a>
						</div>
					
      
      


  
<p align="left">{% endblock %}</p>
