{% extends "0_Base.html" %}

{% block content %}

 			 

			 
			
			<div class="row">
				 <div class="boton col-md-12">
				 <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">RECURSOS HUMANOS</font></h1>
						</div>
      					  				
					<a href="/RRHHDiaDeEstudio" class="btn btn-primary">Dia de Estudio</a>
      					  <br>
						  <br>
						  <a href="/RRHHSolicitudVacaciones" class="btn btn-primary">Vacaciones</a>
      					  <br>
						  <br>
						
           			 		
		
		
		
      					  					
					
      					  
           			 </div>
           			</div>
					<div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">REPORTES</font></h1>
						<a href="/RRHHReportesDiaDeEstudio" class="btn btn-primary" align='right'>Dias de Estudio</a>
						<a href="/RRHHReportesVacaciones" class="btn btn-primary" align='right'>Vacaciones</a>
						</div>
           			 
      
      


  
<p align="left">{% endblock %}</p>
