{% extends "0_Base.html" %}

{% block content %}
 

             

			 
			<div class="row">
				 <div class="boton col-md-12">
      					  <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">EDITAR SOLICITUD DIA DE ESTUDIO</font></h1>
						</div>
      					  
           			 		<p align="left">
      					  					
					
					
           			 
      					  
           			 </div>
           			</div>
      <form method="post">
        
		<div>
		<br>
        <label for="name">Nombre y Apellido:</label>
        <input type="text" size="20" value='{{valores.nombreyapellido}}'name="nombreyapellido" />
		</div>
		
		<div>
		<br>
        <label for="name">Legajo:</label>
        <input type="text" size="20" value='{{valores.legajo}}' name="legajo" />
		</div>
		
		
		<div>
		<br>
        <label for="name">Materia:</label>
        <input type="text" size="20" value='{{valores.materia}}'  name="materia" />
		</div>
			
        
		
		<div>
		<br>
        <label for="name">Fecha:</label>
        <input type="date" size="20" value='{{valores.fecha}}' name="fecha" />
		</div>
		<div>
		<br>
        <label for="name">Supervisor:</label>
        <input type="text" size="20" value='{{valores.nombreyapellidosup}}' name="nombreyapellidosup" />
		</div>
			<div>
		<br>
        <label for="name">Estado:</label>
        <input type="text" size="20" value='{{valores.estado}}' name="estado" />
		</div>
		
	
		
        
        <p></p>	
        <a href="/RRHHHome" class="btn btn-primary">Volver</a>
		<button action='/rrhhdiaestudio/editar/{{valores.id}}'type="submit" class="btn btn-primary"><font face="Segoe UI">Guardar</font></button>
		      	

      	</font>
      	</p>
      </form>
    
  
{% endblock %}