{% extends "0_Base.html" %}

{% block content %}
	 

			 
			<div class="row">
				 <div class="boton col-md-12">
      					  <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">REPORTES VACACIONES</font></h1>
						</div>
						<a href="/RRHHHome" class="btn btn-primary">Volver</a>
  
           			 </div>
           			</div>
           			
      <div class="row post">
      
	  <div class="col-md-1">
	  <h6><font color="#0000FF">TIPO</font></h6>
      </div>
	  <div class="col-md-2">
	  <h6><font color="#0000FF">NOMBRE Y APELLIDO</font></h6>
      </div>
	  <div class="col-md-1">
	  <h6><font color="#0000FF">LEGAJO</font></h6>
		</div>
	  <div class="col-md-1">
	  <h6><font color="#0000FF">DIAS</font></h6>
		</div>
		<div class="col-md-1">
	  <h6><font color="#0000FF">FECHA COMIENZO</font></h6>
		</div>
		<div class="col-md-1">
	  <h6><font color="#0000FF">FECHA FINALIZACION</font></h6>
		</div>
		<div class="col-md-1">
	  <h6><font color="#0000FF">FECHA REINICIO</font></h6>
		</div>
		<div class="col-md-2">
	  <h6><font color="#0000FF">SUPERVISOR</font></h6>
		</div>
		<div class="col-md-1">
	  <h6><font color="#0000FF">CARGO</font></h6>
		</div>
		<div class="col-md-1">
	  <h6><font color="#0000FF">ESTADO</font></h6>
		</div>
		
		</div>
      

  {% for rrhhvacaciones in valores %}
    <div class="row post">
      
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.tipo}}</h6>
      </div>
	  <div class="col-md-2">
        <h6>{{rrhhvacaciones.nombreyapellido}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.legajo}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.cantidaddias}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.fechacomienzo}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.fechafinalizacion}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.fechareinicio}}</h6>
      </div>
	  <div class="col-md-2">
        <h6>{{rrhhvacaciones.nombreyapellidosup}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.cargosup}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{rrhhvacaciones.estado}}</h6>
      </div>
       
      
      
	  
      <div class="col-md-12 acciones">
		<a href="/rrhhvacaciones/editar/{{rrhhvacaciones.id}}"><i class="fa fa-pencil fa-fw"></i></a>
        <a href="/rrhhvacaciones/eliminar/{{rrhhvacaciones.id}}"><i class="fa fa-trash-o fa-fw"></i></a>
        
      </div>
        
    </div>
  {% endfor%}
{% endblock %}