{% extends "0_Base.html" %}

{% block content %}

 			 
 			 
			<div class="row">
				 <div class="boton col-md-12">
				 <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">COMERCIAL</font></h1>
						</div>
      					  
      					  					
						<br>
						  <a href="/ComercialInscripcionActividades" class="btn btn-primary">Inscripcion Actividades</a>
      					  <br>
						<br>
						  
					
      					  
           			 </div>
           			</div>
					<div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">REPORTES</font></h1>
						<a href="/COMERCIALReportesInscripciones" class="btn btn-primary" align='right'>Reportes Inscripcion a Actividades</a>
						
						</div>
           			 
      
      


  
<p align="left">{% endblock %}</p>
