{% extends "0_Base.html" %}

{% block content %}

					
           	
			 
			<div class="row">
				 <div class="boton col-md-12">
      					  <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">REPORTES COMERCIAL</font></h1>
						</div>
						<a href="/ComercialHome" class="btn btn-primary">Volver</a>
  
           			 </div>
           			</div> 
      
       <div class="row post">
	  
      <div class="col-md-3">
      	<h6><font color="#0000FF">APELLIDO Y NOMBRE</font></h6>
      </div>
	  <div class="col-md-1">
	  <h6><font color="#0000FF">DNI</font></h6>
      </div>
	  <div class="col-md-3">
	  <h6><font color="#0000FF">CORREO</font></h6>
      </div>
	  <div class="col-md-1">
	  <h6><font color="#0000FF">TELEFONO</font></h6>
      </div>
	   <div class="col-md-3">
	  <h6><font color="#0000FF">EVENTO</font></h6>
      </div>
	   <div class="col-md-1">
	  <h6><font color="#0000FF">ESTADO</font></h6>
      </div>
	  
       
		
      
	  
      
        
	
    </div>

  {% for comercialactividades in valores %}
    <div class="row post">
	
      <div class="col-md-3">
        <h6>{{comercialactividades.nombreyapellido}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{comercialactividades.dni}}</h6>
      </div>
	  <div class="col-md-3">
        <h6>{{comercialactividades.correo}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{comercialactividades.telefono}}</h6>
      </div>
	  <div class="col-md-3">
        <h6>{{comercialactividades.evento}}</h6>
      </div>
	  <div class="col-md-1">
        <h6>{{comercialactividades.estado}}</h6>
      </div>
       
		
       <div class="col-md-12 acciones">
		<a href="/comercialactividades/editar/{{comercialactividades.id}}"><i class="fa fa-pencil fa-fw"></i></a>
        <a href="/comercialactividades/eliminar/{{comercialactividades.id}}"><i class="fa fa-trash-o fa-fw"></i></a>
        
      </div>
	  
      
        
	
    </div>
	
  {% endfor%}
{% endblock %}