{% extends "0_Base.html" %}

{% block content %}

			
 			 
			<div class="row">
				 <div class="boton col-md-12">
      					  <div class="title col-md-12 text-center">
						<h1><font face="Segoe UI" size="6">REPORTES</font></h1>
						</div>
						
  
           			 </div>
           			</div> 
			 

      
      
					
					<h4><font color="#0000FF">RRHH</font></h4>
 					<a href="/RRHHReportesDiaDeEstudio" class="btn btn-primary">Dias de Estudio</a>
					
						<a href="/RRHHReportesVacaciones" class="btn btn-primary">Vacaciones</a>
					<br>
					<br>
					<h4><font color="#0000FF">Comercial</font></h4>
					<a href="/ComercialReportes" class="btn btn-primary">Actividades</a>
					<br>
					<br>
					<h4><font color="#0000FF">Operaciones</font></h4>
					<a href="/OperacionesEdiliciasReportes" class="btn btn-primary">Edilicias</a>

										

{% endblock %}